.actions
	.container
		.actions__wrapper
			a.actions__action--1.actions__action(href="#")
				.actions__action__title
					| Activites
				.actions__action__description
					| T-shirts from dribbble
				.actions__action__price
					| $25.00
				.actions__action__image
					img(src="images/action1.png" alt="")
			a.actions__action--2.actions__action(href="#")
				.actions__action__title
					| Ampersan dwich Tee
				.actions__action__price
					| $18.00
				.actions__action__image
					img(src="images/action2.png" alt="")
			a.actions__action--3.actions__action(href="#")
				.actions__action__title
					| Bally Roger Glow Tee
				.actions__action__description
					| Dribbble
				.actions__action__price
					| $18.00
				.actions__action__image
					img(src="images/action3.png" alt="")
			a.actions__action--4.actions__action(href="#")
				.actions__action__title
					| 50%
				.actions__action__description
					| Off
				.actions__action__label
					| Lets go
