.banner
	.banner__slider
		.banner__slide.banner__slide--1
			.banner__slide__content
				.banner__slide__text
					| Introducing
				.banner__slide__title
					| Wild eyes
		.banner__slide.banner__slide--2
			.banner__slide__content
				.banner__slide__text
					| Feel
				.banner__slide__title
					| Animal passion
		.banner__slide.banner__slide--3
			.banner__slide__content
				.banner__slide__text
					| To be
				.banner__slide__title
					| Predator
		.banner__slide.banner__slide--4
			.banner__slide__content
				.banner__slide__text
					| Get
				.banner__slide__title
					| Grace
