.categories
	.categories__title
		| Categories
	.categories__links
		.categories__bubble.categories__bubble--1
		a.categories__link.categories__link--1(href="#")
		a.categories__link.categories__link--2(href="#")
		a.categories__link.categories__link--3(href="#")
		a.categories__link.categories__link--4(href="#")
		a.categories__link.categories__link--5(href="#")
		a.categories__link.categories__link--6(href="#")
		a.categories__link.categories__link--7(href="#")
		.categories__bubble.categories__bubble--2
