footer.footer
	.container
		.footer__copyright
			img(src="images/logo.png" alt="")
			.footer__copyright__text
				| Copyright © 2017
				a(href="https://cssauthor.com/" target="_blank") www.cssauthor.com
		.footer__links
			a.footer__links__link.sprite-fb(href="#")
			a.footer__links__link.sprite-tw(href="#")
			a.footer__links__link.sprite-rss(href="#")
