.goods
	.container
		.goods__col-left
			.goods__label
				img(src="images/levis.png" alt="")
			.goods__title
				| Mens Levis Jeans-071
			.goods__description
				| Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				| Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
				| when an unknown printer took a galley of type and scrambled it to make a type
				| specimen book. It has survived not only five centuries, but also the leap into
				| electronic typesetting, remaining essentially unchanged. It was popularisedin
			.goods__wrapper
				.goods__rate
					| $ 61.99
				button.goods__button
					| Add to cart
		.goods__col-right
			.goods__image
				img(src="images/good-big.jpg" alt="")
		.goods__preview-slider
			a.goods__preview-slide(href="#")
				img(src="images/good.jpg" alt="")
				.goods__preview-slide__title
					| Levis Jeans-071
			a.goods__preview-slide(href="#")
				img(src="images/good.jpg" alt="")
				.goods__preview-slide__title
					| Levis Jeans-071
			a.goods__preview-slide(href="#")
				img(src="images/good.jpg" alt="")
				.goods__preview-slide__title
					| Levis Jeans-071
			a.goods__preview-slide(href="#")
				img(src="images/good.jpg" alt="")
				.goods__preview-slide__title
					| Levis Jeans-071
			a.goods__preview-slide(href="#")
				img(src="images/good.jpg" alt="")
				.goods__preview-slide__title
					| Levis Jeans-071
