header.header
	.container
		a.header__logo(href="/")
			img(src="images/logo.png" alt="Zebra")
		ul.header__menu
			li.header__menu__item
				a.header__menu__item__link(href="#") Home
			li.header__menu__item
				a.header__menu__item__link(href="#") Products
				.header__menu__item__submenu
					.header__menu__item__submenu__col-1
						img.logo(src="images/submenu-logo.png" alt="")
						img.tie(src="images/tie.png" alt="")
					.header__menu__item__submenu__col-2
						a.header__menu__item__submenu__link(href="#") Asics shoes
						a.header__menu__item__submenu__link(href="#") Nike air free
						a.header__menu__item__submenu__link(href="#") Sports Jerseys
						a.header__menu__item__submenu__link(href="#") Nike Air Max
						a.header__menu__item__submenu__link(href="#") Nike Shox shoes
						a.header__menu__item__submenu__link(href="#") Nike AF1 shoes
						a.header__menu__item__submenu__link(href="#") Nike air free
						a.header__menu__item__submenu__link(href="#") Asics shoes
					.header__menu__item__submenu__col-3
						a.header__menu__item__submenu__link(href="#") Asics shoes
							a.header__menu__item__submenu__link(href="#") Nike air free
							a.header__menu__item__submenu__link(href="#") Sports Jerseys
							a.header__menu__item__submenu__link(href="#") Nike Air Max
							a.header__menu__item__submenu__link(href="#") Nike Shox shoes
							a.header__menu__item__submenu__link(href="#") Nike AF1 shoes
							a.header__menu__item__submenu__link(href="#") Nike air free
							a.header__menu__item__submenu__link(href="#") Asics shoes
			li.header__menu__item
				a.header__menu__item__link(href="#") Shopping
			li.header__menu__item
				a.header__menu__item__link(href="#") Contact
