extends pug/base

prepend vars
	- title = 'Zebra'

append vars
	- link.icon = 'favicon.ico'
	- link.icon16x16 = 'favicon-16x16.png'
	- link.icon32x32 = 'favicon-32x32.png'

block content
	include pug/includes/header.pug
	include pug/includes/banner.pug
	include pug/includes/actions.pug
	include pug/includes/categories.pug
