.actions {
	padding-bottom: 47px;

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -7px;
	}

	&__action {
		position: relative;
		display: block;
		overflow: hidden;
		margin: 39px 7px 0;
		padding: 23px 22px;
		width: calc(#{percentage(1 / 4)} - 14px);
		height: 251px;
		text-decoration: none;

		&__title {
			position: relative;
			z-index: 2;
			font-weight: bold;
			font-size: 30px;
			text-transform: uppercase;
			color: $color-white;
		}

		&__description {
			position: relative;
			z-index: 2;
			overflow: hidden;
			margin-top: 23px;
			margin-left: 5px;
			padding-right: 60px;
			max-height: 80px;
			font-weight: bold;
			font-size: 20px;
			white-space: normal;
			text-overflow: ellipsis;
			text-transform: uppercase;
			color: $color-white;
		}

		&__price {
			position: absolute;
			left: 29px;
			bottom: 18px;
			z-index: 2;
			font-weight: bold;
			font-size: 49px;
			color: $color-black;
			opacity: 0.5;
		}

		&__image {
			position: absolute;
			z-index: 1;
			transition: transform 0.2s ease-out;

			img {
				display: block;
			}
		}

		&:hover {
			.actions__action__image {
				transform: translateX(55px);
			}
		}

		&--1 {
			background: $color-viking;

			.actions__action__image {
				right: 0;
				top: 6px;
				width: 132px;
			}
		}

		&--2 {
			background: $color-zombie;

			.actions__action__image {
				right: 0;
				bottom: 0;
				width: 143px;
			}
		}

		&--3 {
			background: $color-carnation-pink;

			.actions__action__image {
				right: 0;
				bottom: 0;
				width: 135px;
			}
		}

		&--4 {
			background: $color-cream-can;

			.actions__action__title {
				font-size: 105px;
				transition: transform 1s ease-out;
			}

			.actions__action__description {
				overflow: visible;
				margin-top: 6px;
				font-size: 64px;
			}

			.actions__action__label {
				position: absolute;
				left: 0;
				bottom: 12px;
				display: inline-block;
				padding: 9px 15px 4px;
				font-weight: bold;
				font-size: 26px;
				text-transform: uppercase;
				color: $color-cream-can;
				background: $color-white;
			}

			&:hover {
				.actions__action__title {
					transform: rotateY(360deg);
				}
			}
		}
	}
}
