.categories {
	overflow: hidden;
	height: 560px;
	text-align: center;
	background: url("../images/categories.jpg") 0 0 no-repeat;
	background-size: cover;

	&__title {
		padding: 60px 0 37px;
		font-family: $font-family-josefin-slab;
		font-size: 116px;
		text-transform: uppercase;
		color: $color-white;

		@media (max-width: 743px) {
			font-size: 73px;
		}

		@media (max-width: 500px) {
			font-size: 39px;
		}
	}

	&__links {
		position: relative;
		margin: 0 auto;
		height: 303px;
		max-width: 1064px;

		@media (max-width: 1220px) {
			display: flex;
			align-items: flex-start;
			flex-wrap: wrap;
			justify-content: center;
			height: auto;
		}
	}

	&__bubble {
		position: absolute;
		display: block;
		border-radius: 50%;
		width: 199px;
		height: 199px;
		background: $color-viking;
		opacity: 0.8;
		transition: transform 0.3s ease-out;

		&:hover {
			transform: scale(1.1);
		}

		&--1 {
			left: -225px;
			top: 34px;
		}

		&--2 {
			right: -171px;
			top: 2px;
		}

		@media (max-width: 1220px) {
			display: none;
		}
	}

	&__link {
		position: absolute;
		display: block;
		border-radius: 50%;
		width: 199px;
		height: 199px;
		background: rgba($color-viking, 0.8);
		transition: transform 0.3s ease-out;

		&::before {
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			display: block;
			transform: translate(-50%, -50%);
		}

		&:hover {
			transform: scale(1.1);
		}

		&--1 {
			left: -57px;
			top: 0;

			&::before {
				@include sprite("shoe");
			}
		}

		&--2 {
			left: 84px;
			top: 76px;

			&::before {
				@include sprite("tshirt");
			}
		}

		&--3 {
			left: 252px;
			top: 13px;

			&::before {
				@include sprite("pants");
			}
		}

		&--4 {
			left: 419px;
			top: 41px;

			&::before {
				@include sprite("hat");
			}
		}

		&--5 {
			right: 260px;
			top: 75px;

			&::before {
				@include sprite("shoe");
			}
		}

		&--6 {
			right: 109px;
			top: 16px;

			&::before {
				@include sprite("tshirt");
			}
		}

		&--7 {
			right: -38px;
			top: 103px;

			&::before {
				@include sprite("umbrella");
			}
		}

		@media (max-width: 1220px) {
			position: relative;
			left: auto;
			right: auto;
			top: auto;
			margin: 10px;
		}
	}

	@media (max-width: 1220px) {
		height: auto;
	}
}
