@import url("https://fonts.googleapis.com/css?family=Josefin+Slab:400,400i,700,700i");

@font-face {
	src: url("../fonts/HelveticaNeueBoldCondensed.woff") format("woff");
	font-family: "HelveticaNeueCondensed";
	font-weight: 700;
	font-style: normal;
}

@font-face {
	src: url("../fonts/HelveticaNeueBlackCondensed.woff") format("woff");
	font-family: "HelveticaNeueCondensed";
	font-weight: 900;
	font-style: normal;
}

@font-face {
	src: url("../fonts/HelveticaNeueCyr-UltraLight.woff") format("woff");
	font-family: "HelveticaNeueCyr";
	font-weight: 100;
	font-style: normal;
}

@font-face {
	src: url("../fonts/HelveticaNeueCyr-UltraLightItalic.woff") format("woff");
	font-family: "HelveticaNeueCyr";
	font-weight: 100;
	font-style: italic;
}

@font-face {
	src: url("../fonts/HelveticaNeueCyr-Thin.woff") format("woff");
	font-family: "HelveticaNeueCyr";
	font-weight: 200;
	font-style: normal;
}

@font-face {
	src: url("../fonts/HelveticaNeueCyr-ThinItalic.woff") format("woff");
	font-family: "HelveticaNeueCyr";
	font-weight: 200;
	font-style: italic;
}

@font-face {
	src: url("../fonts/HelveticaNeueCyr-Light.woff") format("woff");
	font-family: "HelveticaNeueCyr";
	font-weight: 300;
	font-style: normal;
}

@font-face {
	src: url("../fonts/HelveticaNeueCyr-LightItalic.woff") format("woff");
	font-family: "HelveticaNeueCyr";
	font-weight: 300;
	font-style: italic;
}

@font-face {
	src: url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
	font-family: "HelveticaNeueCyr";
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url("../fonts/HelveticaNeueCyr-Italic.woff") format("woff");
	font-family: "HelveticaNeueCyr";
	font-weight: 400;
	font-style: italic;
}

@font-face {
	src: url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff");
	font-family: "HelveticaNeueCyr";
	font-weight: 500;
	font-style: normal;
}

@font-face {
	src: url("../fonts/HelveticaNeueCyr-MediumItalic.woff") format("woff");
	font-family: "HelveticaNeueCyr";
	font-weight: 500;
	font-style: italic;
}

@font-face {
	src: url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff");
	font-family: "HelveticaNeueCyr";
	font-weight: 700;
	font-style: normal;
}

@font-face {
	src: url("../fonts/HelveticaNeueCyr-BoldItalic.woff") format("woff");
	font-family: "HelveticaNeueCyr";
	font-weight: 700;
	font-style: italic;
}

@font-face {
	src: url("../fonts/HelveticaNeueCyr-Heavy.woff") format("woff");
	font-family: "HelveticaNeueCyr";
	font-weight: 800;
	font-style: normal;
}

@font-face {
	src: url("../fonts/HelveticaNeueCyr-HeavyItalic.woff") format("woff");
	font-family: "HelveticaNeueCyr";
	font-weight: 800;
	font-style: italic;
}

@font-face {
	src: url("../fonts/HelveticaNeueCyr-Black.woff") format("woff");
	font-family: "HelveticaNeueCyr";
	font-weight: 900;
	font-style: normal;
}

@font-face {
	src: url("../fonts/HelveticaNeueCyr-BlackItalic.woff") format("woff");
	font-family: "HelveticaNeueCyr";
	font-weight: 900;
	font-style: italic;
}

@font-face {
	src: url("../fonts/HelveticaCyr-Upright.woff") format("woff");
	font-family: "HelveticaCyrUpright";
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url("../fonts/HelveticaCE-Cond.woff") format("woff");
	font-family: "HelveticaCECondensed";
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url("../fonts/HelveticaCE-CondObl.woff") format("woff");
	font-family: "HelveticaCECondensed";
	font-weight: 400;
	font-style: italic;
}

@font-face {
	src: url("../fonts/HelveticaCE-CondBold.woff") format("woff");
	font-family: "HelveticaCECondensed";
	font-weight: 700;
	font-style: normal;
}

@font-face {
	src: url("../fonts/HelveticaCE-CondBoldObl.woff") format("woff");
	font-family: "HelveticaCECondensed";
	font-weight: 700;
	font-style: italic;
}

@font-face {
	src: url("../fonts/HelveticaCE.woff") format("woff");
	font-family: "HelveticaCE";
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url("../fonts/HelveticaCE-Oblique.woff") format("woff");
	font-family: "HelveticaCE";
	font-weight: 400;
	font-style: italic;
}

@font-face {
	src: url("../fonts/HelveticaCE-Bold.woff") format("woff");
	font-family: "HelveticaCE";
	font-weight: 700;
	font-style: normal;
}

@font-face {
	src: url("../fonts/HelveticaCE-BoldOblique.woff") format("woff");
	font-family: "HelveticaCE";
	font-weight: 700;
	font-style: italic;
}

@font-face {
	src: url("../fonts/HelveticaCE-Narrow.woff") format("woff");
	font-family: "HelveticaCENarrow";
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url("../fonts/HelveticaCE-NarrowOblique.woff") format("woff");
	font-family: "HelveticaCENarrow";
	font-weight: 400;
	font-style: italic;
}

@font-face {
	src: url("../fonts/HelveticaCE-NarrowBold.woff") format("woff");
	font-family: "HelveticaCENarrow";
	font-weight: 700;
	font-style: normal;
}

@font-face {
	src: url("../fonts/HelveticaCE-NarrowBoldOblique.woff") format("woff");
	font-family: "HelveticaCENarrow";
	font-weight: 700;
	font-style: italic;
}
