$sprites: (
	"arrow-left": (
		normal: (
			x: 318,
			y: 0,
			width: 43,
			height: 149,
			image: "sprites.png",
			total_width: 406,
			total_height: 299,
		),
		retina: (
			x: 636,
			y: 0,
			width: 86,
			height: 298,
			image: "sprites@2x.png",
			total_width: 812,
			total_height: 598,
		),
	),
	"arrow-right": (
		normal: (
			x: 363,
			y: 0,
			width: 43,
			height: 149,
			image: "sprites.png",
			total_width: 406,
			total_height: 299,
		),
		retina: (
			x: 726,
			y: 0,
			width: 86,
			height: 298,
			image: "sprites@2x.png",
			total_width: 812,
			total_height: 598,
		),
	),
	"cart": (
		normal: (
			x: 363,
			y: 151,
			width: 29,
			height: 26,
			image: "sprites.png",
			total_width: 406,
			total_height: 299,
		),
		retina: (
			x: 726,
			y: 302,
			width: 58,
			height: 52,
			image: "sprites@2x.png",
			total_width: 812,
			total_height: 598,
		),
	),
	"hat": (
		normal: (
			x: 0,
			y: 112,
			width: 126,
			height: 65,
			image: "sprites.png",
			total_width: 406,
			total_height: 299,
		),
		retina: (
			x: 0,
			y: 224,
			width: 252,
			height: 130,
			image: "sprites@2x.png",
			total_width: 812,
			total_height: 598,
		),
	),
	"pants": (
		normal: (
			x: 0,
			y: 179,
			width: 61,
			height: 120,
			image: "sprites.png",
			total_width: 406,
			total_height: 299,
		),
		retina: (
			x: 0,
			y: 358,
			width: 122,
			height: 240,
			image: "sprites@2x.png",
			total_width: 812,
			total_height: 598,
		),
	),
	"shoe": (
		normal: (
			x: 212,
			y: 0,
			width: 104,
			height: 72,
			image: "sprites.png",
			total_width: 406,
			total_height: 299,
		),
		retina: (
			x: 424,
			y: 0,
			width: 208,
			height: 144,
			image: "sprites@2x.png",
			total_width: 812,
			total_height: 598,
		),
	),
	"triangle": (
		normal: (
			x: 394,
			y: 151,
			width: 12,
			height: 11,
			image: "sprites.png",
			total_width: 406,
			total_height: 299,
		),
		retina: (
			x: 788,
			y: 302,
			width: 24,
			height: 22,
			image: "sprites@2x.png",
			total_width: 812,
			total_height: 598,
		),
	),
	"tshirt": (
		normal: (
			x: 0,
			y: 0,
			width: 114,
			height: 110,
			image: "sprites.png",
			total_width: 406,
			total_height: 299,
		),
		retina: (
			x: 0,
			y: 0,
			width: 228,
			height: 220,
			image: "sprites@2x.png",
			total_width: 812,
			total_height: 598,
		),
	),
	"umbrella": (
		normal: (
			x: 116,
			y: 0,
			width: 94,
			height: 89,
			image: "sprites.png",
			total_width: 406,
			total_height: 299,
		),
		retina: (
			x: 232,
			y: 0,
			width: 188,
			height: 178,
			image: "sprites@2x.png",
			total_width: 812,
			total_height: 598,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}
