// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-dove-gray: #626262;
$color-cardinal: #cf1a2b;
$color-alizarin-crimson: #d62132;
$color-silver-chalice: #9d9d9d;
$color-viking: #58dbd3;
$color-zombie: #e4ce9a;
$color-carnation-pink: #ffa7ce;
$color-cream-can: #f2ca66;
$color-cod-gray: #1d1d1d;
$color-geraldine: #ff808c;
$color-mirage: #1b2330;

// FONTS

$font-family-josefin-slab: "Josefin Slab", serif;
$font-family-helvetica-neue-condensed: "HelveticaNeueCondensed", sans-serif;
$font-family-helvetica-neue-cyr: "HelveticaNeueCyr", sans-serif;
$font-family-helvetica-cyr-upright: "HelveticaCyrUpright", sans-serif;
$font-family-helvetica-ce: "HelveticaCE", sans-serif;
$font-family-helvetica-ce-condensed: "HelveticaCECondensed", sans-serif;
$font-family-Helvetica-ce-narrow: "HelveticaCENarrow", sans-serif;
$font-family-impact: "Impact", sans-serif;
