// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-dove-gray: #626262;
$color-cardinal: #cf1a2b;

// FONTS
$font-family-josefin-slab: "Josefin Slab", serif;
$font-family-helvetica-neue-condensed: "HelveticaNeueCondensed", sans-serif;
$font-family-helvetica-neue-cyr: "HelveticaNeueCyr", sans-serif;
$font-family-helvetica-cyr-upright: "HelveticaCyrUpright", sans-serif;
$font-family-helvetica-ce: "HelveticaCE", sans-serif;
$font-family-helvetica-ce-condensed: "HelveticaCECondensed", sans-serif;
$font-family-Helvetica-ce-narrow: "HelveticaCENarrow", sans-serif;
